* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Public Sans;
  font-weight: 300;
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Public Sans;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 125%;
}

h3 {
  font-weight: bold;
}

input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 10px 30px;
}

textarea {
  width: 100%;
  padding: 10px 30px;
  resize: vertical;
}

.header h1 {
  padding: 2%;
  font-size: 5rem;
  color: #ead7d7;
  text-align: center;
}

.header h1:hover {
  cursor: pointer;
}

.buttons {
  width: 100%;
  text-align: center;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: Public Sans;
  font-weight: 300;
  background-color: #ead7d7;
  color: #151515;
}

.container {
  padding: 2% 5%;
}
.content {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.display-none {
  display: none;
}
#newIssueBtn {
  color: white;
  background-color: #8b9f64;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 1rem;
}
#newIssueBtn:disabled {
  cursor: not-allowed;
}

#issue-title {
  width: 100%;
  margin-bottom: 2rem;
  height: 2rem;
  font-size: 1rem;
}

#issue-description {
  width: 100%;
}

#popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 2rem;
  border: 1px solid #ccc;
  z-index: 1;
  color: #333;
}

.issue_content {
  border: none;
  border-radius: 1rem;
  border: 1px solid #ccc;
  padding: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.update-buttons {
  color: white;
  background-color: green;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-right: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  width: 8rem;
}

#close-button {
  background-color: crimson;
}

#cancel-button {
  background-color: crimson;
}

#save-button {
  margin-left: 30%;
}
